<!DOCTYPE html>
<html>
<head>
  <title>Redemoji</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
  
</head>
  <body  id="page-top" data-spy="scroll" data-target=".navbar-custom">
        <!-- preloader -->
        <div class="preloader">
            <div 
            <%= image_tag "redl.svg", class: "status" , alt: "loading..." %>
            </div>
        </div>
        


      <%= render 'layouts/header' %>
<%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
